# Cấu hình kết nối Supabase chính thức của dự án LMS Tiếng Anh
VITE_SUPABASE_URL=https://wjphcawebrxdvituvuac.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqcGhjYXdlYnJ4ZHZpdHV2dWFjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODcwMTM2MTYsImV4cCI6MjEwMjU4OTYxNn0.zihrFyxoPiD8ndmFa5az5tHI2GIGAqm-oz5Mohyiueo

# Cấu hình TinyMCE Rich Text Editor
VITE_TINYMCE_API_KEY=no-api-key
